.content {
  padding: 40px;
  font-size: 16px;
  line-height: 1.8 !important;
}
h3 {
  color: var(--second-color);
  font-size: 20px;
  font-weight: bold;
  margin: 15px 25px 15px 0;
}
h4 {
  color: #222;
  font-size: 18px;
  margin: 10px 15px 10px 0;
}

.code-section {
  width: 85%;
  margin: 10px auto;
  direction: ltr;
  font-family: Arial, Helvetica, sans-serif;
}

.code-section .lang {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #fff;
  background-color: #111;
  padding: 10px 20px;
  font-size: 18px;
  text-transform: uppercase;
  position: relative;
}

.code-section .bullte {
  width: 15px;
  height: 15px;
  background: #f00;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 15%;
  transform: translate(50%, -50%);
  box-shadow: 25px 0px #0f0, 50px 0px #ff0;
}

.code-section code {
  position: relative;
}

.code-section code .buttons {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 14px;
  font-family: cairo, sans-serif;
  opacity: 0;
  transition: var(--normal-transition);
}
.code-section code .buttons button {
  border: none;
  outline: none;
  color: #fff;
  padding: 5px;
  background-color: var(--second-color);
  border-radius: 5px;
  cursor: pointer;
}

.code-section code:hover .buttons {
  display: inline-block;
  opacity: 1;
}

.code-section .code {
  white-space: pre;
  overflow: auto;
  background: #292929;
  margin: 0;
  padding: 25px 15px 30px;
  color: white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  line-height: 1.8;
}

@media (max-width: 800px) {
  .code-section .bullte {
    right: 20%;
  }
}
@media (max-width: 600px) {
  .code-section .bullte {
    display: none;
    box-shadow: none;
  }
}

.go-btn {
  background-color: var(--second-color);
  padding: 15px;
  text-align: center;
}

.go-btn .go-span {
  padding: 5px;
  background-color: #fff;
  border-radius: 50%;
  width: 40px;
  display: inline-block;
  height: 43px;
  font-size: 25px;
  font-weight: bold;
  color: var(--second-color);
  cursor: pointer;
}

.go-btn .go-span.not-active {
  background-color: #666;
  color: #aaa;
  cursor: auto;
  pointer-events: none;
}

.go-btn div {
  display: inline-block;
  margin: 15px;
  color: #fff;
  font-size: 25px;
}
